name: GitHub-Profile-Summary-Cards

on:
  schedule: # Executa automaticamente a cada 24 horas
    - cron: "0 0 * * *"
  workflow_dispatch: # Permite que você execute manualmente para testar

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-cards
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          # O GITHUB_TOKEN padrão já existe no GitHub, não precisa criar um novo
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: ${{ github.repository_owner }}
